// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	color: #333;
}

a:hover {
	color: #0085A1;
	text-decoration: none;
}

.post-author-time {
	font-family: Lora,'Times New Roman',serif;
	color: #777;
  font-size: 18px;
  font-style: italic;
  // margin-top: 0;
}

strong {
	color: #333;
}